{% load static %}
<!-- ================================
Start Footer
================================= -->
<footer>
    <div class="footerCol">
    <div class="container">
        <ul class="socialCol">
        <li><a href="javascript:void(0)"><img src="{% static 'images/fb.svg' %}" alt="..."></a></li>
        <li><a href="https://instagram.com/sankishere?igshid=YmMyMTA2M2Y="><img src="{% static 'images/insta.svg' %}" alt="..."></a></li>
        <li><a href="javascript:void(0)"><img src="{% static 'images/twitter.svg' %}" alt="..."></a></li>
        <li><a href="https://www.linkedin.com/in/sankalp-raj-4a6947263"><img src="{% static 'images/linkedin.svg' %}" alt="..."></a></li>
        </ul>
        <div class="copyrightCol">
        <p>Copyright ©{% now 'Y' %} All rights reserved. Designed by Sankalp Raj</a></p>
        </div>
    </div>
    </div>
</footer>
<!-- ================================
End Footer
================================= -->